*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo 2",cursive;

}
body{
    background-color: #e8f3e8;
}
nav{
    background-color: rgb(166, 240, 166);
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a :hover{
    background-color: green;
    color:white;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 18rem;
    padding: 40px 47px;
    box-shadow: 10px 10px 18px 8px #aaaa , -10px -10px 24px #fff;
    border-radius: 20px;
    height: 600px;
    width: 800px;


}
.container img{
    height: 100%;
    width: auto;
    border-radius: 20px;

}
.about-detailes{
    margin: 0 45px;
}
.about-detailes span{
    color: red;}
    .about-detailes h2{
    font-family: "Potta One";
    font-weight: 100;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.about-detailes p{
    color: gray;
    font-size: 15px;
    
}